
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap');
* {font-family: 'Noto Sans KR', sans-serif; }
.navBar {display: flex; flex-direction: row; padding: 20px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;} 
.navBar a {padding: 0 12px; }

.introduce {display:flex; flex-direction: row; justify-content: center; width: 80%; text-align: center; padding: 20px; align-items: center;}
.introduce .text {width: 50%;}

.introduce .mediNum {width: 50%;}
.introduce .mediNum div {font-family: 'Black Han Sans', sans-serif; font-size: 70px; color: #6c6ceb;}
